@page
@model MyFirstWebApplication.Pages.Sport.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ArticleModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleModel.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArticleModel.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleModel.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArticleModel.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleModel.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArticleModel.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleModel.PublicationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArticleModel.PublicationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleModel.TopicId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArticleModel.TopicId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ArticleModel.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
